@charset
    "UTF-8";
 /* Estilos para impressão */
 * {
     margin: 10px;
     padding: 10px;
 }
    html {
        font-family: 'Courier New', Courier, monospace ;
        font-size: 1em;
        line-height: 1em;
    }
    menu {
        display: none;
    }
    article {
        border: 2px dashed #000;
        padding: 15px;
        margin-bottom: 20px;
    }
   article ::after
    {
         content: " - Esse artigo foi impresso atraves do site www.cursoemvideo.com - ";
         display: block;
         text-align: center;
         font-weight: bold;
         margin-top: 10px;
    }