@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgray;
}

header {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}

header h1 {
    font-size: 40px;
    font-variant: small-caps;
}

header p {
    font-size: 15px;
    margin-top: 10px;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;

}

section.normal {

    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(41, 40, 40);
    color: white;
}

section.imagem p {
    background-color: rgba(0, 0, 0, 0.289);
    width: 400px;
}

a {
    color: white;
    text-decoration: none;
    margin-left: 5px;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}



footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}