/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/
body {
  font-family: 'Arial', sans-serif;
  background-color: lightcoral;
  color: black;
  margin: 0;
  padding: 0;
}
