@charset "UTF-8";
/* Estilos para modo retrato */
body {
  background-image: url(../imagens/cev-portrait.jpg);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}